<mat-toolbar color="primary">
  Ng Mat
  <div class="spacer"></div>

  <div class="flex">
      <a routerLink="/blog" mat-stroked-button>Blog</a>

  
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <div class="demo-section">
      <mat-icon matBadge="15" matBadgeColor="accent">notifications</mat-icon>
    </div>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>You are blessed by God</button>
    <button mat-menu-item>God has given me wisdom and strength</button>
  </mat-menu>


    <a routerLink="/login" mat-stroked-button>Login</a>
  </div>
</mat-toolbar>
<router-outlet/>